.app {
    background: url(../img/background-img.jpg) center / cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-main {  
    flex-grow: 1;
    position: relative;
}

.app-splash {
    background-color: rgba(44, 65, 95, 0.4);
    backdrop-filter: blur(30px);
    aspect-ratio: 1;
    max-width: 80%;
    max-height: 80%;

}

.toolbar {
    background-color: rgba(44, 65, 95, 0.4);
    padding: 20px;
    flex-shrink: 0;
    backdrop-filter: blur(30px);
}

.glass-circle {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #59779e;
    backdrop-filter: blur(30px);
}

